<div class="container-flid" style="margin-top: 100px;">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center textStyledHeader" >
        <h1 >Contact us</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 contact-us-card">
      <form action="/action_page.php">
        <label for="fname">Email</label>
        <input class="contact-us-white textInput" type="text" id="fname" name="firstname" placeholder="Your email address">
        <label for="subject">Subject</label>
        <textarea class="textInput" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </form>
    </div>
    <div class="col-4" style="background-color: #b71c1c">
      <div style="margin-top: 20px">
        <p style=" color: white">Enter your question and wait the answer. We send answer on your email that you enter on this form</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="waves-effect waves-light btn red darken-4">
        Add
      </button>
    </div>
  </div>
</div>
