<div class="container" style="margin-bottom:100px;" >
  <div class="row" style="margin-top: 30px">
    <div class="col-12">
      <div class="d-flex justify-content-center textStyledHeader" >
        <h1 >Add new university</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <img class="addUniversityIcon" src="assets/img/university3.png">
      </div>
    </div>
  </div>
  <div style="margin-left: 100px; margin-right: 100px">
<div class="row">
  <div class="col-12">
    <input [(ngModel)]="university.name" placeholder="Name" type="text" class="textInput validate" name="name">
  </div>
</div>
  <div class="row">
    <div class="col-12">
<!--      <input [(ngModel)]="university.about" placeholder="About" type="text" class="textInput validate" name="about">-->
      <textarea [(ngModel)]="university.about" class="textInput" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="waves-effect waves-light btn red darken-4"(click)="addUniversity()">
        Add
      </button>
    </div>
  </div>
</div>
</div>
