<div class="container">
  <div *ngIf="!loading">

    <div>
      <h1>{{group.name}}</h1>
    </div>

    <div>
      <h2>Curator:</h2>
    </div>
    <a routerLink="/teachers/overview/{{group.curator.id}}">
    <div>
      <span>{{group.curator.firstName}} {{group.curator.secondName}}</span>
    </div>
    </a>
    <div class="row" style="margin-top: 30px;">
      <div class="col-12">
        <div class="d-flex justify-content-center textStyledHeader" >
          <h2>Students</h2>
        </div>
      </div>
    </div>

      <div *ngFor="let student of group.students" routerLink="/students/overview/{{student.id}}">
        <div class="row students-list-item">
          <div class="col-8">
                <h2>{{student.firstName}} {{student.secondName}}</h2>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <img src="{{dataFormatHelper.getUserPhotoOrDefault(student)}}" class="universityIcon" >
          </div>
        </div>
      </div>

  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>
</div>
