<div class="container" style="margin-bottom:100px;" >
  <div class="row" style="margin-top: 30px">
    <div class="col-12">
      <div class="d-flex justify-content-center textStyledHeader" >
        <h1 >Add new university</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <img class="addUniversityIcon" src="assets/img/university3.png">
      </div>
    </div>
  </div>
  <div style="margin-left: 100px; margin-right: 100px">
    <div class="row">
      <div class="col-12">
        <input [(ngModel)]="userName" placeholder="Name" type="text" class="textInput validate" name="name">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input [(ngModel)]="password" placeholder="password" type="password" class="textInput validate" name="password">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>You are the: </h2>
        <select [(ngModel)]="role" class="universitySelect" id="role" name="role">
          <option value="Student" >Student</option>
          <option value="Teacher">Teacher</option>
          <option value="Admin">Admin</option>
          <option value="Guest">Guest</option>
        </select>
      </div>
    </div>
    <div class="row" *ngIf="role == 'Student' || role == 'Teacher'">
      <div class="col-12">
        <input [(ngModel)]="detailsKey" placeholder="Key" type="text" class="textInput validate" name="role">
      </div>
    </div>


    <div class="row">
      <div class="col">
        <button class="waves-effect waves-light btn red darken-4"(click)="login()">
          Register
        </button>
      </div>
    </div>
  </div>
</div>
