<style>
  a{
    color: white !important;
  }
  .container{
    min-height: 600px;
  }
</style>
<div class="container">
  <div *ngIf="!loading" style="margin-top: 30px">
    <div *ngFor="let subject of subjects">
      <div class="row">
        <div class="col">
          <a routerLink="overview/{{subject.id}}">
            <div class="universityCard border-button">
              <div class="row  ">
                <div class="col-md-8 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      <span class="universityTitle">{{subject.name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <a routerLink="edit/{{subject.id}}" class="btn waves-effect waves-light  red darken-4" type="submit" name="action">Edit
            <i class="material-icons right">send</i>
          </a>
        </div>
        <div class="col-3">
          <button (click)="deleteSubject(subject.id)" class="btn waves-effect waves-light  red darken-4" type="submit" name="action">Remove
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>
</div>
