<div class="container">
  <div *ngIf="!loading">
    <div *ngFor="let subject of subjects">
      <div class="row">
        <div class="col">
          <a>
            <div>
              <span>{{subject.name}}</span>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <a routerLink="edit/{{subject.id}}" class="btn waves-effect waves-light  red darken-4" type="submit" name="action">Edit
            <i class="material-icons right">send</i>
          </a>
        </div>
        <div class="col-3">
          <button (click)="deleteSubject(subject.id)" class="btn waves-effect waves-light  red darken-4" type="submit" name="action">Remove
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>
</div>
