<div *ngIf="!isUserAuthenticated()">
<nav class="#b71c1c red darken-4" >
  <div class="nav-wrapper">
    <img class="logoIcon" src="assets/img/sharingan2.png">
    <a href="#" class="brand-logo">Cursova</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="universities">universities</a></li>
      <li><a routerLink="universities/add">add universities</a></li>
      <li><a routerLink="institutes">institute</a></li>
      <li><a routerLink="teachers">teachers</a></li>
      <li><a routerLink="groups">groups</a></li>
      <li><a routerLink="students">students</a></li>
      <li><a routerLink="subjects">subjects</a></li>
      <li><a routerLink="register">register</a></li>


    </ul>
  </div>
</nav>
</div>



<div *ngIf="isUserAuthenticated()">
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav class="#b71c1c red darken-4">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
</div>
