<nav class="#b71c1c red darken-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="universities">universities</a></li>
      <li><a routerLink="universities/add">add universities</a></li>
      <li><a routerLink="institutes">institute</a></li>
      <li><a routerLink="institute/add">add institute</a></li>
      <li><a routerLink="teachers">teachers</a></li>
      <li><a routerLink="teachers/add">add teachers</a></li>
      <li><a routerLink="groups">groups</a></li>
      <li><a routerLink="groups/add">add group</a></li>

    </ul>
  </div>
</nav>
