<div *ngIf="!tokenService.isUserAuthenticated()">
<nav class="#b71c1c red darken-4" >
  <div class="nav-wrapper">
    <img class="logoIcon" src="assets/img/sharingan2.png">
    <a href="#" class="brand-logo">Cursova</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="universities">universities</a></li>
      <li><a routerLink="universities/add">add universities</a></li>
      <li><a routerLink="institutes">institute</a></li>
      <li><a routerLink="teachers">teachers</a></li>
      <li><a routerLink="groups">groups</a></li>
      <li><a routerLink="students">students</a></li>
      <li><a routerLink="subjects">subjects</a></li>
      <li><a routerLink="register">register</a></li>


    </ul>
  </div>
</nav>
</div>



<div *ngIf="tokenService.isUserAuthenticated()">

  <nav class="#b71c1c red darken-4" >
    <div class="nav-wrapper">
      <img class="logoIcon" src="assets/img/sharingan2.png">
      <a href="#" class="brand-logo">Cursova</a>
      <ul id="nav-mobile2" class="right hide-on-med-and-down">
        <li><a routerLink="universities">universities</a></li>
        <li><a routerLink="/profile">{{getUserData()}}</a></li>
      </ul>
    </div>
  </nav>

<!--<nav class="#b71c1c red darken-4">-->
<!--  <div class="nav-wrapper red darken-4">-->
<!--    <a href="#!" class="brand-logo">Logo</a>-->
<!--    <ul class="right hide-on-med-and-down">-->
<!--      <li><a href="sass.html">Sass</a></li>-->
<!--      <li><a href="badges.html">Components</a></li>-->
<!--      &lt;!&ndash; Dropdown Trigger &ndash;&gt;-->
<!--      <mat-form-field appearance="outline" class="">-->
<!--        <mat-label style="color: white">{{getUserData()}}</mat-label>-->
<!--        <mat-select>-->
<!--          <mat-option routerLink="/profile">-->
<!--            Profile-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->
</div>

