<form action="#">
  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file" (change)="onFileChange($event)" multiple="false">
    </div>
    <div class="file-path-wrapper">
      <input data-mode="drop" class="file-path validate" type="text" placeholder="Upload one or more files">
    </div>
  </div>
</form>
<table class="sjs-table">
  <tbody>
  <tr *ngFor="let row of data">
    <td *ngFor="let val of row">
      {{val}}
    </td>
  </tr>
  </tbody>
</table>
<button (click)="export()">Export!</button>
