<style>
  .container{
    min-height: 500px;
  }
  a{
    color: white !important;
  }
</style>
<div class="container">
  <div *ngIf="!loading">
    <div *ngFor="let group of groups" style="margin-top: 30px">
      <div class="row students-list-item">
        <div class="col">
          <a routerLink="/groups/overview/{{group.id}}">
          <h2 style="color: #b71c1c">{{group.name}}</h2>
          </a>
        </div>
      <div class="row">
        <div class="col-3">
          <a routerLink="edit/{{group.id}}" class="btn waves-effect waves-light  red darken-4" type="submit" name="action">Edit
            <i class="material-icons right">send</i>
          </a>
        </div>
        <div class="col-3">
          <button (click)="deleteGroup(group.id)" class="btn waves-effect waves-light  red darken-4" type="submit" name="action">Remove
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>
</div>
