<style>
  a{
    color: white !important;
  }
</style>
<nav class="#b71c1c red darken-4" >
  <div class="nav-wrapper">
    <img class="logoIcon" src="assets/img/sharingan2.png">
    <a href="#" class="brand-logo">Cursova</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="universities">Universities</a></li>
      <li><a routerLink="institutes">Institutes</a></li>
      <li><a routerLink="teachers">Teachers</a></li>
      <li><a routerLink="groups">Groups</a></li>
      <li><a routerLink="students">Students</a></li>
      <li><a routerLink="subjects">Subjects</a></li>
      <li><a (click)="logOut()">Logout</a></li>

      <li><a routerLink="/profile">
        {{tokenStorageService.getUser() === null ? '' : tokenStorageService.getUser().userName }}
      </a></li>
    </ul>
  </div>
</nav>
