<div class="container">
  <div *ngIf="!loading">
  <div class="row">
    <div class="input-field col s6">
      <input [(ngModel)]="institute.name" id="first_name" type="text" class="validate" name="name">
      <label for="first_name">Name</label>
    </div>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea style="height: 200px" name="about" [(ngModel)]="institute.about" id="textarea1" class="materialize-textarea">{{institute.about}}</textarea>
            <label for="textarea1">About</label>
          </div>
        </div>
      </form>
    </div>
  </div>
    <div>
      <h2>Teachers</h2>
    </div>
    <div *ngFor="let teacher of institute.teachers">
      <a routerLink="/teachers/edit/{{teacher.id}}">
        <div class="row">
        <div class="col-6">
          <h4>{{teacher.firstName}} {{teacher.secondName}}</h4>
        </div>
          <div class="col-3">
            <button>
              Edit
            </button>
          </div>
        <div class="col-3">
          <button>
            Delete
          </button>
        </div>
        </div>
      </a>
    </div>
    <div>
      <a routerLink="/teachers/add/{{institute.id}}">Add</a>
    </div>

  <div *ngIf="!loading" class="row">
    <div class="col-3" *ngFor="let image of institute.imageContents">
      <div>
        <img style="margin-top: 20px" class="universityIcon" src="https://localhost:44304/api/universities/image/{{image.imageName}}">
      </div>

    </div>
  </div>
  <div class="row">
    <button (click)="editUniversity()">
      Add
    </button>
  </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>

</div>
