<div class="container-fluid">
  <div *ngIf="!loading">
    <div>
      <h1>{{journal.group.name}}</h1>
    </div>
    <div>

      <span>File</span>
      <span>File</span>
      <input type="file" (change)="onFileChange($event)" multiple="false">
    </div>
    <div>
      <table class="journalTable">
        <tr>
          <th>
            Student
          </th>
          <th [attr.colspan]="practicColCount">Practic</th>
          <th>MKR1</th>
          <th>MKR2</th>
          <th>Exam</th>
          <th>Total</th>

        </tr>
        <tr *ngFor="let row of journal.journalRows">
          <td><a routerLink="/students/overview/{{row.student.id}}">{{row.student.firstName}} {{row.student.secondName}}</a></td>
          <td (click)="openDialogEditMark(practic)" *ngFor="let practic of row.practicMarks">{{practic.value === 0 ? '' : practic.value}}</td>

          <td (click)="openDialogEditMark(row.firstModularTestWorkMark)">{{row.firstModularTestWorkMark === null ? '' : row.firstModularTestWorkMark.value}}</td>
          <td (click)="openDialogEditMark(row.secondModularTestWorkMark)">{{row.secondModularTestWorkMark === null? '' : row.secondModularTestWorkMark.value}}</td>
          <td (click)="openDialogEditMark(row.examMark)">{{row.examMark === null ? '' : row.examMark.value}}</td>
          <td class="{{row.total < 21 ? 'criticalMark' : row.total < 50 ? 'waringMark' : ''}}">{{row.total}}</td>
          <button mat-raised-button (click)="openDialog(row.student)">Pick one</button>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>
</div>
