<div>
  <div *ngIf="!loading">
    <div>
      <h1>{{journal.group.name}}</h1>
    </div>
    <div>
      <table class="journalTable">
        <tr>
          <th>
            Student
          </th>
          <th [attr.colspan]="practicColCount">Practic</th>
          <th>MKR1</th>
          <th>MKR2</th>
          <th>Exam</th>
          <th>Total</th>

        </tr>
        <tr *ngFor="let row of journal.journalRows">
          <td><a routerLink="/students/overview/{{row.student.id}}">{{row.student.firstName}} {{row.student.secondName}}</a></td>
          <td *ngFor="let practic of row.practicMarks">{{practic.value === 0 ? '' : practic.value}}</td>

          <td>{{row.firstModularTestWorkMark === null ? '' : row.firstModularTestWorkMark.value}}</td>
          <td>{{row.secondModularTestWorkMark === null? '' : row.secondModularTestWorkMark.value}}</td>
          <td>{{row.examMark}}</td>
          <td>{{row.total}}</td>
          <button mat-raised-button (click)="openDialog(row.student)">Pick one</button>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>
</div>
