<div class="row">
  <div class="input-field col s6">
    <input [(ngModel)]="university.name" id="first_name" type="text" class="validate" name="name">
    <label for="first_name">Name</label>
  </div>

  <div *ngIf="university.imageContents !== null">
    <div *ngFor="let imageContent of university.imageContents">
      <div class="row">
        <div class="col-12">
          <img src="{{imageContent.imageUrl}}">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea name="about" [(ngModel)]="university.about" id="textarea1" class="materialize-textarea">{{university.about}}</textarea>
          <label for="textarea1">About</label>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngFor="let img of university.imageContents">
  <div class="row" *ngIf="university !==undefined">
    <div class="col">
    <img src="https://localhost:44304/api/universities/image/{{img.imageName}}">
    </div>
  </div>
</div>

<div>
  <input type="file" (change)="onFileSelected($event)">
</div>
<div class="row">
  <button (click)="editUniversity()">
    Add
  </button>
</div>
