<div class="container">
  <div *ngIf="!loading">
  <div class="row" style="margin-top: 100px" >
    <div class="col-6 textStyled">
      <div class="post-title" >
        <h1 style="font-size: xx-large"><b>{{userProfile.firstName}} {{userProfile.secondName}}</b></h1>
      </div>
      <div class="row" style="margin-top: 50px">
        <div class="col-12">
          <span>University: </span>
          <a routerLink="/universities/overview/{{userProfile.university.id}}"><span>{{userProfile.university.name}}</span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span>Institute: </span>
          <a routerLink="/institutes/overview/{{userProfile.institute.id}}"><span>{{userProfile.institute.name}}</span></a>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span>Group: </span>
          <a routerLink="/groups/overview/{{userProfile.group.id}}"><span>{{userProfile.group.name}}</span></a>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <span>Average mark: {{averageMark}}</span>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <img class="post-image" src="{{dataFormatHelper.getUserPhotoOrDefault(userProfile)}}" style="border: 4px solid #b71c1c; border-radius: 20px">
    </div>
      <div class="col-12">
        <a routerLink="/students/edit/{{userProfile.id}}" class="btn waves-effect waves-light  red darken-4 button-white-text" type="submit" name="action">Edit
          <i class="material-icons right">edit</i>
        </a>
      </div>
  </div>

    <div class="row" style="margin-top: 50px">
      <div class="col-12">
        <h1>You marks</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <table class="journalTable journalTableCenter">
            <tr>
              <th>
                Subject
              </th>
              <th [attr.colspan]="practicColCount">Practic</th>
              <th>MKR1</th>
              <th>MKR2</th>
              <th>Exam</th>
              <th>Total</th>

            </tr>
            <tr *ngFor="let row of userProfile.userJournal.userJournalRows">
              <td>{{row.subjectName}}</td>
              <td *ngFor="let practic of row.practicMarks">{{practic.value === 0 ? '' : practic.value}}</td>

              <td>{{row.firstModularTestWorkMark === null ? '' : row.firstModularTestWorkMark.value}}</td>
              <td >{{row.secondModularTestWorkMark === null? '' : row.secondModularTestWorkMark.value}}</td>
              <td >{{row.examMark === null ? '' : row.examMark.value}}</td>
              <td class="{{row.total < 21 ? 'criticalMark' : row.total < 50 ? 'waringMark' : ''}}">{{row.total}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>


  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>

</div>
