<div class="container">

  <div *ngIf="!loading">

    <div class="row" style="margin-top: 30px">
      <div class="col-12">
        <div class="d-flex justify-content-center textStyledHeader" >
          <h1 >{{university.name}}</h1>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 50px">
      <div class="col-12">
      <carousel cellsToShow="1" height="500">
        <div class="carousel-cell" *ngFor="let image of university.imageContents">
          <img src="https://localhost:44304/api/universities/image/{{image.imageName}}">
        </div>
      </carousel>
      </div>
    </div>
    <div class="row" style="margin-top: 30px">
      <div class="col-12 textStyled">
        <span>{{university.about}}</span>
      </div>
    </div >
  <div>
    <h2>Institutes</h2>
  </div>
    <div class="row" *ngIf="university.imageContents !== null && university.imageContents.length !==0">
      <div class="col-12">
        <div >
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true; loadInstitute()"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Institutes
                </mat-panel-title>
                <mat-panel-description>
                  All institutes that the university include...
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngIf="isInstituteLoad">
              <div *ngFor="let institute of university.institutes">
                <a class="institute-list" routerLink="/institutes/overview/{{institute.id}}">
                  <div class="row">
                    <div class="col-8">

                  <div class="row">
                    <div class="col">
                  <h2>{{institute.name}}</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>{{datahelper.shortDescription(institute.about)}}</p>
                    </div>
                  </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                      <img src="{{datahelper.getImageOrDefault(institute)}}" class="universityIcon" >
                    </div>
                  </div>
                </a>
              </div>
             </div>
              <div *ngIf="!isInstituteLoad">
                <div class="col-12 center">
                  <app-preloader></app-preloader>
                </div>
              </div>
            </mat-expansion-panel>

          </mat-accordion>
        </div>
      </div>

      <div class="row" style="margin-top: 100px" *ngFor="let post of university.posts;let i = index" [attr.data-index]="i">
        <div class="col-6 textStyled" *ngIf="i % 2 == 0">
          <div class="post-title" >
            <h1><b>{{post.title}}</b></h1>
          </div>
          <span>{{post.text}}</span>
        </div>
        <div class="col-6 d-flex justify-content-end" *ngIf="i % 2 == 0">
          <img class="post-image" src="https://localhost:44304/api/universities/image/{{post.imageLink}}">
        </div>

        <div class="col-6 d-flex justify-content-start" *ngIf="i % 2 !== 0">
          <img class="post-image" src="https://localhost:44304/api/universities/image/{{post.imageLink}}">
        </div>
        <div class="col-6 textStyled justify-content-end" *ngIf="i % 2 !== 0">
          <div class="post-title" >
            <h1><b>{{post.title}}</b></h1>
          </div>
          <span>{{post.text}}</span>
        </div>
      </div>
    </div>

  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>
</div>
