<div class="container">
  <div *ngIf="!loading && availableTeachers.length !== 0">
    <div class="row">
      <div class="input-field col s6">
        <input [(ngModel)]="subject.name" id="first_name" type="text" class="validate" name="name">
        <label for="first_name">Name</label>
      </div>
    </div>

    <select [(ngModel)]="subject.lecturerId" *ngFor="let teacher of availableTeachers" class="universitySelect" id="lecturer" name="lecturer">
      <option value="{{teacher.id}}">{{teacher.firstName}} {{teacher.secondName}}</option>
    </select>
    <select [(ngModel)]="subject.practitionerId" *ngFor="let teacher of availableTeachers" class="universitySelect" id="practitioner" name="practitioner">
      <option value="{{teacher.id}}">{{teacher.firstName}} {{teacher.secondName}}</option>
    </select>
    <div>
      <h2>Groups</h2>
    </div>
    <div *ngFor="let group of subject.groups">
      <a routerLink="/groups/edit/{{group.id}}">
        <div class="row">
          <div class="col-6">
            <h4>{{group.name}}</h4>
          </div>
          <div class="col-3">
            <button>
              Edit
            </button>
          </div>
          <div class="col-3">
            <button>
              Delete
            </button>
          </div>
        </div>
      </a>
    </div>
    <div>
      <a routerLink="/students/add/{{subject.instituteId}}">Add</a>
    </div>

    <div class="row">
      <button (click)="editSubject()">
        Save
      </button>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>

</div>
