<div class="container">
  <div *ngIf="!loading && availableTeachers.length !== 0">

    <div class="row">
      <div class="col-12">
        <input [(ngModel)]="subject.name" placeholder="Name" type="text" class="textInput validate" name="name">
      </div>
    </div>

    <select [(ngModel)]="subject.lecturerId" class="universitySelect" id="lecturer" name="lecturer">
      <option *ngFor="let teacher of availableTeachers" value="{{teacher.id}}">{{teacher.firstName}} {{teacher.secondName}}</option>
    </select>
    <select [(ngModel)]="subject.practitionerId" class="universitySelect" id="practitioner" name="practitioner">
      <option *ngFor="let teacher of availableTeachers" value="{{teacher.id}}">{{teacher.firstName}} {{teacher.secondName}}</option>
    </select>
    <div>
      <h2>Groups</h2>
    </div>
    <div *ngFor="let group of subject.groups">
      <a routerLink="/groups/edit/{{group.id}}">
        <div class="row">
          <div class="col-6">
            <h4>{{group.name}}</h4>
          </div>
          <div class="col-3">
            <button>
              Edit
            </button>
          </div>
          <div class="col-3">
            <button>
              Delete
            </button>
          </div>
        </div>
      </a>
      <div>
        <a routerLink="/marks/journal/{{subject.id}}/{{group.id}}">View journal</a>
      </div>
    </div>
    <div>
      <a routerLink="/students/add/{{subject.instituteId}}">Add</a>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <button (click)="editSubject()" class="btn-large waves-effect waves-light  red darken-4" name="AddUniversity">Save
          <i style="color: white;" class="material-icons right">save</i>
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>

</div>
