<div class="container">
  <div *ngIf="!loading">

    <div>
      <h1>{{institute.name}}</h1>
    </div>
    <div>
      <span>{{institute.about}}</span>
    </div>
    <div>
      <h2>Teachers</h2>
    </div>
    <div *ngFor="let teacher of institute.teachers">
      <a routerLink="/teachers/overview/{{teacher.id}}">
      <div>
        <h4>{{teacher.firstName}} {{teacher.secondName}}</h4>
      </div>
      </a>
    </div>
    <div>
      <h2>Groups</h2>
    </div>
    <div *ngFor="let group of institute.groups">
      <a routerLink="/groups/overview/{{group.id}}">
      <div>
        <h4>{{group.name}}</h4>
      </div>
      </a>
    </div>
    <div>
      <h2>Subjects</h2>
    </div>
    <div *ngFor="let subject of institute.subjects">
      <a routerLink="/subjects/overview/{{subject.id}}">
        <div>
          <h4>{{subject.name}}</h4>
        </div>
      </a>
    </div>
    <div *ngIf="!loading" class="row">
      <div class="col-3" *ngFor="let image of institute.imageContents">
        <div>
          <img style="margin-top: 20px" class="universityIcon" src="https://localhost:44304/api/universities/image/{{image.imageName}}">
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>
</div>
