<div class="container">
  <div *ngIf="!loading">

    <div>
      <h1>{{subject.name}}</h1>
    </div>

    <div>
      <h2>Lecturer:</h2>
    </div>
    <a routerLink="/teachers/overview/{{subject.lecturerId}}">
      <div>
        <span>{{subject.lecturer.firstName}} {{subject.lecturer.secondName}}</span>
      </div>
    </a>
    <div>
      <h2>Practitioner:</h2>
    </div>
    <a routerLink="/teachers/overview/{{subject.practitionerId}}">
      <div>
        <span>{{subject.practitioner.firstName}} {{subject.practitioner.secondName}}</span>
      </div>
    </a>
    <div>
      <h2>Groups</h2>
    </div>
    <div *ngFor="let group of subject.groups">
      <a routerLink="/groups/overview/{{group.id}}">
        <div>
          <h4>{{group.name}}</h4>
        </div>
      </a>
    </div>

  </div>
  <div class="row" *ngIf="loading">
    <div class="col-12 center">
      <app-preloader></app-preloader>
    </div>

  </div>
</div>
