<input [(ngModel)]="teacher.firstName" placeholder="First Name" type="text" class="textInput validate" name="firstName">
<input [(ngModel)]="teacher.secondName" placeholder="Second Name" type="text" class="textInput validate" name="secondName">
<input [(ngModel)]="teacher.degree" placeholder="degree" type="text" class="textInput validate" name="degree">
<input [(ngModel)]="teacher.education" placeholder="education" type="text" class="textInput validate" name="education">
<input [(ngModel)]="teacher.about" placeholder="about" type="text" class="textInput validate" name="about">


<button (click)="addTeacher()">
  Add
</button>
